@model GraphLibraryModel

@{
    int itemsPerRow = 3;
    int numberOfRows = (int)Math.Ceiling((decimal)Model.Graphs.Count / (decimal)itemsPerRow);
}

<div class="container">
    @if(Model.ForActionID > 0)
    {
        <h1 class="font-semibold text-2xl mb-8">
            Action# @Model.ForActionID
        </h1>
    }

    <!-- Search -->
    <div class="w-full">
        @Html.Partial("_Search", Model.SearchModel)
    </div>

    @if (Model.AllowAddingToCustomGraphSets)
    {
        <form id="save-to-custom-set-form" action="@Url.Action("SaveToCustomSet", "GraphLibrary")" method="post">
            <!-- TODO: Model za formu koja ovo cuva u set, setuje u neka hidden polja itd? Ili model od ovog viewa ima objekat toga modela? -->
            <div class="w-full mb-2">
                <button type="button" class="btn-add-to-custom-set">
                    <i class="fas fa-add"></i> Add to Custom Set
                </button>
                <button type="button" class="btn-save-as-custom-set">
                    <i class="fas fa-save"></i> Save as new Custom Set
                </button>
            </div>
        </form>
    }
    @for(int i = 0; i < numberOfRows; i++)
    {
        <div class="library-row w-full flex flex-row">
            @for(int j = 0; j < itemsPerRow; j++)
            {
                if (i * itemsPerRow + j < Model.Graphs.Count)
                {
                    <div class="library-item w-1/3 h-192">
                        @{
                            var model = new GraphCanvasModel(
                                Model.Graphs[i * itemsPerRow + j],
                                showEditButton: true
                            );
                        }
                        @Html.Partial("_GraphCanvas", model)
                    </div>
                }
            }
        </div>
    }

    <!-- Pagination -->
    @Html.Partial("_Pagination", Model.PaginationInfo)
</div>