@model RandomUnicyclicBipartiteGraphModel

<div class="container w-full grid grid-cols-1 gap-y-4">
    <div class="col-span-full">
        <label asp-for="FirstPartitionSize" class="form-label"></label>
        <div class="mt-2">
            <input type="number" asp-for="FirstPartitionSize" name="@(Model.PropertyNamePrefix)FirstPartitionSize" step="1" min="1" class="form-input-field">
        </div>
        <span data-valmsg-for="@(Model.PropertyNamePrefix)FirstPartitionSize" class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>
    <div class="col-span-full">
        <label asp-for="SecondPartitionSize" class="form-label"></label>
        <div class="mt-2">
            <input type="number" asp-for="SecondPartitionSize" name="@(Model.PropertyNamePrefix)SecondPartitionSize" step="1" min="1" class="form-input-field">
        </div>
        <span data-valmsg-for="@(Model.PropertyNamePrefix)SecondPartitionSize" class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>
    <div class="col-span-full">
        <label asp-for="CycleLength" class="form-label"></label>
        <div class="mt-2">
            <input type="number" asp-for="CycleLength" name="@(Model.PropertyNamePrefix)CycleLength" step="1" min="1" class="form-input-field">
        </div>
        <span data-valmsg-for="@(Model.PropertyNamePrefix)CycleLength" class="text-danger field-validation-valid" data-valmsg-replace="true"></span>
    </div>
</div>