@model RandomGraphsModel

@{
    string ViewDataObj = string.Format("RandomGraphsContainer_ViewData");
}

<div id="random-graphs-container" class="container">
    <h1 class="text-2xl font-bold mb-8">Generate Random Graphs</h1>

    <form asp-action="Save" asp-controller="RandomGraphs" method="post">
        <div class="grid grid-cols-1 gap-y-4">
            <div class="col-span-full">
                <label asp-for="GraphClassID" class="form-label">Class</label>
                <div class="mt-2">
                    <select asp-for="GraphClassID" asp-items="Model.GraphClassList" class="sl-graph-class form-input-field">
                        <option value="0">- Please select -</option>
                    </select>
                </div>
            </div>

            <div class="random-graph-params-container random-connected-graph-params-container hidden">
                @Html.Partial("_RandomConnectedGraph", Model.RandomConnectedGraphModel)
            </div>
            <div class="random-graph-params-container random-unicyclic-bipartite-graph-params-container hidden">
                @Html.Partial("_RandomUnicyclicBipartiteGraph", Model.RandomUnicyclicBipartiteGraphModel)
            </div>
            <div class="random-graph-params-container random-acyclic-graph-with-fixed-diameter-params-container hidden">
                @Html.Partial("_RandomAcyclicGraphWithFixedDiameter", Model.RandomAcyclicGraphWithFixedDiameterModel)
            </div>

            <div class="number-of-graphs-container hidden">
                <div class="col-span-full">
                    <label asp-for="TotalNumberOfRandomGraphs" class="form-label"></label>
                    <div class="mt-2">
                        <input asp-for="TotalNumberOfRandomGraphs" type="number" step="1" class="form-input-field">
                    </div>
                    <span asp-validation-for="TotalNumberOfRandomGraphs" class="text-danger"></span>
                </div>
                <div class="col-span-full">
                    <label asp-for="StoreTopNumberOfGraphs" class="form-label"></label>
                    <div class="mt-2">
                        <input asp-for="StoreTopNumberOfGraphs" type="number" step="1" class="form-input-field">
                    </div>
                    <span asp-validation-for="StoreTopNumberOfGraphs" class="text-danger"></span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-submit mt-4 hidden">Generate</button>
    </form>
</div>

<script type="text/javascript">
    var @(ViewDataObj) = {
        viewID: "random-graphs-container",
        form: $("#random-graphs-container form"),
        container: $("#random-graphs-container"),
        btnGenerate: $("#random-graphs-container button.btn-submit"),
        numberOfGraphsContainer: $("#random-graphs-container .number-of-graphs-container"),
        graphClassList: $("#random-graphs-container .sl-graph-class"),
        paramsContainers: $("#random-graphs-container .random-graph-params-container"),
        connectedGraphParamsContainer: $("#random-graphs-container .random-connected-graph-params-container"),
        unicyclicBipartiteGraphParamsContainer: $("#random-graphs-container .random-unicyclic-bipartite-graph-params-container"),
        randomAcyclicGraphWithFixedDiameterParamsContainer: $("#random-graphs-container .random-acyclic-graph-with-fixed-diameter-params-container"),
    };

    $(document).ready(() => {
        var viewDataObj = @(ViewDataObj);
        viewDataObj.form.validate(); // Initialize jQuery Validation on your form

        // Ignore validation of elements with ignore-val
        var settngs = $.data(viewDataObj.form[0], 'validator').settings;
        settngs.ignore = ".ignore-val";

        RandomGraphs.Initialize(viewDataObj);
    });
</script>