@model GraphActionsHistoryModel
<h1 class="font-semibold text-2xl mb-8">Actions History</h1>

<div class="grid grid-cols-4 gap-4">
    @foreach(var action in Model.Actions)
    {
        @Html.Partial("_ActionCardPartial", new ActionCardModel(action))
    }
</div>

<!-- Pagination -->
<div class="pagination-container">
    @if (Model.PaginationInfo.PageNumber > 1)
    {
        <a href="@Url.Action("Index", new { pageNumber = Model.PaginationInfo.PageNumber - 1 /*, SearchByID = Model.SearchByID, SearchText = Model.SearchText*/ })" class="btn-pagination">
            Previous
        </a>
    }

    @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { pageNumber = i /*, SearchByID = Model.SearchByID, SearchText = Model.SearchText*/ })" class="@(i == Model.PaginationInfo.PageNumber ? "btn-pagination-selected" : "btn-pagination")">
            @i
        </a>
    }

    @if (Model.PaginationInfo.PageNumber < Model.PaginationInfo.TotalPages)
    {
        <a href="@Url.Action("Index", new { pageNumber = Model.PaginationInfo.PageNumber + 1 /*, SearchByID = Model.SearchByID, SearchText = Model.SearchText*/ })" class="btn-pagination">
            Next
        </a>
    }
</div>