@model ActionCardModel

<div class="action-card">
    <div class="action-card-title">Action# @Model.Action.ID</div>
    <p class="action-card-text">Action Type: <span class="font-semibold">@Model.Action.ActionTypeName @(Model.Action.ForGraphClassName != "" ? string.Format("({0})", Model.Action.ForGraphClassName) : "")</span></p>
    <p class="action-card-text">User: @Model.Action.CreatedByUserName</p>
    <p class="action-card-text">Date: @Model.Action.CreatedDate.ToString("yyyy-MM-dd")</p>
    <div class="flex flex-row justify-end">
        <a class="btn-edit" href="@Url.Action("Index", "GraphLibrary", new { actionID = Model.Action.ID })">
            <i class="fa-solid fa-magnifying-glass"></i> View
        </a>
    </div>
</div>