<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraphAlgorithmsWeb</title>
    <link rel="stylesheet" href="~/css/tailwind-output.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <style type="text/css">
        #wrapper {
            display: flex;
            flex-direction: row;
            margin-top: 50px;
        }

        #all-graphs-container {
            width: 700px;
        }

        .context-menu {
            position: fixed;
            z-index: 10000;
            width: 150px;
            background: #1b1a1a;
            border-radius: 5px;
            transform: scale(0);
            transform-origin: top left;
        }

        .context-menu.visible {
            transform: scale(1);
            transition: transform 200ms ease-in-out;
        }

        .context-menu .item {
            padding: 8px 10px;
            font-size: 15px;
            color: #eee;
            cursor: pointer;
            border-radius: inherit;
        }

        .context-menu .item:hover {
            background: #343434;
        }
    </style>
</head>
<body>
    <div class="flex h-screen">
        <div class="w-1/10 bg-gray-200 p-4">
            <ul class="space-y-2">
                <li><a class="block p-2 hover:bg-gray-300" href="@Url.Action("Index", "GraphDrawing")">Draw Graph</a></li>
                <li><a class="block p-2 hover:bg-gray-300" href="@Url.Action("Index", "RandomGraphsController")">Generate Random Graph</a></li>
@*                 <li><a href="@Url.Action("ImportGraph", "Home")">Import Graph</a></li>
                <li><a href="@Url.Action("GraphLibrary", "Home")">Graph Library</a></li> *@
                <!-- Add other menu items here -->
            </ul>
        </div>
        <div class="w-9/10 p-8">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GraphAlgorithmsWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/GraphCanvas.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
